In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import numpy as np
import csv
import random

from faker import Faker
from time import time

In [3]:
fake = Faker()

In [26]:
# changing column data with faker

accounts_list = ['Savings Account', 'Current Account']
sex_list = ['Male', 'Female']
#nationality = ['Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'South Africa', 'Botswana', 'Nigeria', 'Mozambique', 'United Kingdom', 'United States', 'China', 'India']
nationality = [239, 239, 239, 239, 239, 239, 193, 28, 156, 145, 222, 223, 44, 99]
# names_list = [fake.name_female(), fake.name_male()]

# Data Generator function
 
def fake_data():
    return{'Name': fake.name(), 
           'Gender': random.choice(sex_list),
           'Address': fake.street_address(), 
           'Nationality': random.choice(nationality), 
           'Account_Type': random.choice(accounts_list), 
           'Age': random.randint(0, 2), 
           'Education': random.randint(0, 1), 
           'Employment': random.randint(0, 2),
           'Salary': random.randint(0, 2),
           'Employer_Stability': random.randint(0, 1),
           'Customer_Loyalty': random.randint(0, 10),
           'Balance': random.randint(0, 2),
           'Residential_Status': random.randint(0, 1)
          }

t0 = time()

myData = pd.DataFrame([fake_data() for _ in range(1000)], columns = ['Name', 'Gender', 'Address', 'Nationality', 'Account_Type', 'Age','Education', 'Employment', 'Salary', 'Employer_Stability', 'Customer_Loyalty', 'Balance', 'Residential_Status'])
myData.index.names = ['Customer_ID']

tt = time() - t0


print '1 Million rows of data generated in {} seconds'.format(round(tt, 3))



#myData.to_csv('../datasets/dummyTrain.csv')

1 Million rows of data generated in 3.056 seconds

In [27]:
myData.count()

Name                  1000
Gender                1000
Address               1000
Nationality           1000
Account_Type          1000
Age                   1000
Education             1000
Employment            1000
Salary                1000
Employer_Stability    1000
Customer_Loyalty      1000
Balance               1000
Residential_Status    1000
dtype: int64

In [20]:
myData.head()

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status
Customer_ID,,,,,,,,,,,,,
0,Jake Edwards,Male,8453 Valdez Gateway Apt. 499,239,Current Account,0,0,1,2,1,8,0,1
1,Kristy Alvarez,Male,3029 Ricky Flats,239,Current Account,0,0,0,1,1,0,0,1
2,Steven Pittman,Male,43670 Bowers Divide Suite 524,223,Savings Account,0,1,1,1,0,5,2,1
3,Matthew Cook,Female,501 Dean Parks,193,Current Account,2,0,2,1,1,5,2,1
4,Jonathan Davis,Male,8714 Anna Mountain,145,Savings Account,0,0,1,1,0,9,1,1

In [28]:
# # Generate classes 'Service_Levels' for the customers using the following criteria,

# # Number of features = '8', Total_Weight of features = '12', Number of classes = '3',

# # Conditions: 
# #    Class 0 (Silver) = weight(0 - 6),
# #    Class 1 (Gold) = weight(7 - 8)
# #    Class 2 (Platinum) = weight(9 - 12)


# myData['Service_Level'] = np.where(((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) <= 6), 0.0,
#                                (np.where((((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) > 6) & ((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) <= 8)), 1.0, 2.0)))

myData['Service_Level'] = np.where(((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) <= 11), 0.0,
                               (np.where((((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) > 11) & ((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) <= 15)), 1.0, 2.0)))

In [29]:
# convert the engineered values into real customer details

#myData['Service_Level'] = np.where((myData['Service_Level'] == 0), 'Silver', (np.where((myData['Service_Level'] == 1), 'Gold', 'Platinum')))

myData['Employment'] = np.where((myData['Employment']== 0), 'Student', (np.where((myData['Employment'] == 1), 'Contract', 'Permanent')))

myData['Education'] = np.where((myData['Education']== 0), 'Highschool and below',  'Tertiary and above')

myData['Employer_Stability'] = np.where((myData['Employer_Stability']== 0), 'Unstable',  'Stable')

myData['Residential_Status'] = np.where((myData['Residential_Status'] == 0), 'Rented',  'Owned')

#myData['Customer_Loyalty'] = np.where((myData['Customer_Loyalty'] == 0), '0 - 2 years',  '3 - 10 years')

myData['Age'] = np.where((myData['Age']== 0), '60 +', (np.where((myData['Age'] == 1), '36 - 59', '18 - 35')))

# myData['Gender'] = np.where((myData['Gender'] == 'Male'), 0,  1)

# myData['Account_Type'] = np.where((myData['Account_Type'] == 'Current'), 0,  1)

myData['Salary'] = np.where((myData['Salary']== 0), np.random.randint(150, 1001), (np.where((myData['Salary'] == 1), np.random.randint(1001, 10001), np.random.randint(10001, 100000))))

myData['Balance'] = np.where((myData['Balance']== 0), np.random.randint(20, 2501), (np.where((myData['Balance'] == 1), np.random.randint(2501, 10001), np.random.randint(10001, 500000))))

# np.where(('condition1'<= 6), 0, (np.where(('condition2' > 6), 1, 2)))

In [30]:
myData.head()

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
0,Tony Jimenez,Female,0155 Salas Shore,239,Current Account,36 - 59,Tertiary and above,Contract,886,Unstable,4,2789,Rented,0.0
1,Jessica Bell,Male,24078 Davis Prairie Suite 981,239,Savings Account,60 +,Highschool and below,Student,4627,Stable,7,2333,Rented,0.0
2,Cheryl Davis,Male,51713 Allen Radial,239,Current Account,60 +,Tertiary and above,Student,24001,Unstable,2,2789,Rented,0.0
3,Leslie Sims,Male,4185 Jackson Divide Apt. 654,239,Current Account,36 - 59,Tertiary and above,Contract,24001,Unstable,3,179487,Rented,0.0
4,Jason Schmidt,Female,0225 Flores Prairie,99,Savings Account,18 - 35,Tertiary and above,Contract,886,Stable,5,2789,Rented,0.0

In [24]:
myData[myData['Service_Level'] == 2]

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
16,Brenda Moody,Female,48196 Mckinney Dam Apt. 387,239,Current Account,36 - 59,Tertiary and above,Permanent,29633,Stable,9,269684,Rented,2.0
29,Abigail James,Female,39938 Beverly Motorway,222,Current Account,18 - 35,Tertiary and above,Permanent,29633,Stable,10,269684,Owned,2.0
40,April Jackson,Male,162 Wiggins Mountains Suite 906,28,Current Account,36 - 59,Tertiary and above,Permanent,29633,Stable,10,269684,Owned,2.0
46,Patrick Thomas,Female,09546 Simon Avenue,239,Savings Account,18 - 35,Tertiary and above,Permanent,236,Stable,9,8024,Owned,2.0
48,Mr. Carl Jones,Female,037 Jordan Hill,223,Savings Account,18 - 35,Tertiary and above,Permanent,236,Stable,10,269684,Owned,2.0
65,Jennifer Berry,Male,39338 Arellano Pine,239,Savings Account,36 - 59,Tertiary and above,Permanent,5622,Stable,10,386,Rented,2.0
67,Kenneth Fischer,Female,262 Taylor Ridges,44,Savings Account,18 - 35,Highschool and below,Contract,5622,Stable,10,269684,Owned,2.0
94,Elizabeth White,Male,025 Monica Pine,28,Savings Account,18 - 35,Tertiary and above,Permanent,29633,Stable,10,8024,Owned,2.0
95,Vanessa Vega,Male,5543 Amanda Mountain Apt. 119,239,Savings Account,36 - 59,Highschool and below,Permanent,29633,Unstable,9,269684,Rented,2.0
107,Jessica Smith,Female,011 Oliver Viaduct,99,Current Account,18 - 35,Highschool and below,Permanent,236,Stable,9,269684,Owned,2.0
118,David Oconnor,Male,48552 Nguyen Common Suite 228,239,Savings Account,18 - 35,Tertiary and above,Permanent,5622,Unstable,10,386,Owned,2.0
125,Christopher Sims,Female,5998 Connie Cape,239,Current Account,18 - 35,Highschool and below,Permanent,29633,Stable,7,269684,Owned,2.0
132,Gregory Smith,Female,98685 William Orchard,145,Current Account,18 - 35,Tertiary and above,Permanent,29633,Stable,8,8024,Rented,2.0
144,Erin Schneider,Male,36536 Morrow Isle Apt. 389,44,Savings Account,18 - 35,Highschool and below,Permanent,5622,Stable,9,8024,Owned,2.0
153,Samuel David,Male,1231 Sharon Fork,223,Savings Account,18 - 35,Tertiary and above,Contract,236,Stable,10,8024,Rented,2.0
157,Jose Ayala,Male,07716 Mcdonald Forges,239,Savings Account,18 - 35,Highschool and below,Contract,236,Stable,9,269684,Owned,2.0
159,Allison Bender,Female,267 Greene Divide Suite 659,99,Savings Account,36 - 59,Tertiary and above,Contract,29633,Unstable,10,8024,Owned,2.0
166,David Martin,Male,450 Mcconnell Stravenue,239,Savings Account,18 - 35,Highschool and below,Permanent,29633,Unstable,9,269684,Rented,2.0
171,Kimberly Mathews,Male,077 Murphy Villages,223,Current Account,36 - 59,Tertiary and above,Permanent,29633,Stable,8,8024,Rented,2.0
174,James Alvarado,Male,40266 Brooks Mountain,156,Current Account,36 - 59,Tertiary and above,Contract,29633,Unstable,10,269684,Owned,2.0
181,Katie Jacobs,Female,0959 Mills Squares,239,Current Account,18 - 35,Tertiary and above,Student,29633,Stable,9,269684,Rented,2.0
184,Steven Salinas,Female,9129 Johnson Mills Suite 870,239,Savings Account,18 - 35,Tertiary and above,Contract,236,Stable,10,386,Owned,2.0
191,Mark Moyer,Female,377 Knight Locks,193,Savings Account,60 +,Tertiary and above,Permanent,236,Unstable,10,269684,Owned,2.0
197,James Hansen,Male,212 Rachel Knoll Suite 074,99,Savings Account,18 - 35,Tertiary and above,Permanent,5622,Unstable,10,8024,Owned,2.0
219,John Hale,Male,7094 Jay Cape Suite 504,145,Current Account,18 - 35,Highschool and below,Student,29633,Stable,9,269684,Rented,2.0
222,Manuel Lee,Male,6041 Anderson Radial,156,Savings Account,18 - 35,Highschool and below,Student,29633,Stable,10,269684,Owned,2.0
251,Anthony Thomas MD,Male,6191 Nancy Courts Suite 942,156,Current Account,36 - 59,Tertiary and above,Permanent,5622,Stable,10,269684,Owned,2.0
257,Zachary Kelly,Male,17841 Burton Ports,239,Current Account,18 - 35,Tertiary and above,Permanent,5622,Stable,9,386,Rented,2.0
264,Christina Santana,Female,21914 Horton Ridge Suite 059,239,Current Account,36 - 59,Highschool and below,Permanent,29633,Stable,9,269684,Owned,2.0
269,Laura Houston,Male,3781 Debra Rest,239,Current Account,18 - 35,Tertiary and above,Student,29633,Stable,8,269684,Owned,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999674,Wayne Santana,Male,007 William Hollow Suite 948,223,Savings Account,18 - 35,Highschool and below,Permanent,29633,Stable,10,8024,Rented,2.0
999682,Willie Young,Male,85811 Brian Turnpike,239,Current Account,18 - 35,Tertiary and above,Contract,29633,Unstable,10,386,Owned,2.0
999690,Gina Herrera,Male,136 Johnson Spur,222,Savings Account,18 - 35,Tertiary and above,Contract,5622,Stable,8,8024,Owned,2.0
999704,Craig Sullivan,Female,4195 Lopez Vista,239,Current Account,18 - 35,Highschool and below,Permanent,5622,Unstable,10,386,Owned,2.0
999723,Brandon Sampson,Male,09602 Michael Ville,223,Current Account,18 - 35,Tertiary and above,Permanent,236,Stable,9,8024,Owned,2.0
999749,Matthew Yoder,Female,1157 Williams Causeway Apt. 971,239,Savings Account,36 - 59,Tertiary and above,Student,29633,Stable,9,8024,Owned,2.0
999756,Veronica Stokes,Female,0189 Kelly Walk Suite 074,239,Savings Account,60 +,Tertiary and above,Permanent,29633,Stable,10,386,Rented,2.0
999782,Kyle Johnson,Male,9205 Julie Curve Suite 906,28,Savings Account,60 +,Tertiary and above,Permanent,5622,Stable,9,269684,Owned,2.0
999784,Edward Jones,Female,5516 Miles Plains,239,Savings Account,36 - 59,Highschool and below,Permanent,29633,Stable,10,8024,Rented,2.0
999831,Katelyn White,Male,8716 Valentine Village,239,Current Account,18 - 35,Tertiary and above,Contract,5622,Stable,9,269684,Owned,2.0
999845,Rachel Cervantes,Male,25358 Denise Corners Suite 442,239,Current Account,18 - 35,Tertiary and above,Permanent,29633,Unstable,10,8024,Rented,2.0
999846,Laurie Norman,Female,15645 Amanda Neck,239,Current Account,18 - 35,Highschool and below,Student,236,Stable,10,269684,Owned,2.0
999858,Mrs. Carolyn Cuevas,Female,51806 Marks Common,193,Savings Account,18 - 35,Tertiary and above,Permanent,5622,Stable,6,269684,Owned,2.0
999860,Sherry Hopkins,Male,0539 Stephanie Well,145,Savings Account,18 - 35,Tertiary and above,Permanent,29633,Unstable,9,386,Owned,2.0
999862,Laurie Jones,Male,19594 Tiffany Ramp,99,Current Account,18 - 35,Highschool and below,Student,29633,Unstable,10,269684,Rented,2.0
999870,Raymond Kim,Male,8599 Anderson Stravenue,239,Current Account,18 - 35,Highschool and below,Permanent,5622,Stable,9,269684,Owned,2.0
999884,Monica Parker,Male,23740 Garcia Ways Suite 484,28,Savings Account,60 +,Highschool and below,Contract,29633,Stable,10,269684,Owned,2.0
999886,Karen Mueller,Female,71149 Stephen Mountain,156,Savings Account,18 - 35,Highschool and below,Contract,236,Unstable,10,269684,Owned,2.0
999909,Leah Nelson,Male,5523 Mason Parkway Suite 714,239,Savings Account,36 - 59,Highschool and below,Permanent,29633,Stable,8,269684,Rented,2.0
999912,Thomas Rubio,Female,81336 Adams Field Apt. 271,145,Savings Account,60 +,Tertiary and above,Permanent,29633,Unstable,10,8024,Owned,2.0
999913,James Odonnell,Female,1296 Joseph Plaza,156,Savings Account,36 - 59,Highschool and below,Permanent,29633,Stable,9,8024,Owned,2.0
999914,Andrew Benton,Male,05003 Heather Locks Apt. 608,99,Savings Account,36 - 59,Tertiary and above,Contract,5622,Stable,9,269684,Owned,2.0
999925,Melinda Moore,Male,04144 Lisa Lake Apt. 842,239,Current Account,18 - 35,Tertiary and above,Permanent,29633,Unstable,10,8024,Rented,2.0
999931,Patrick Matthews,Male,16909 Newman Keys Apt. 964,145,Savings Account,60 +,Tertiary and above,Permanent,29633,Stable,8,269684,Owned,2.0
999938,Lisa Rodriguez,Female,995 Frost Dam,193,Current Account,36 - 59,Tertiary and above,Permanent,5622,Unstable,9,269684,Owned,2.0
999959,Cody Hernandez,Female,33333 Jones Cliffs Suite 270,28,Current Account,18 - 35,Highschool and below,Student,29633,Stable,10,269684,Rented,2.0
999964,Carolyn Johnson,Male,193 Michael Extension,223,Current Account,18 - 35,Highschool and below,Contract,29633,Stable,9,8024,Owned,2.0
999977,Cassandra Wheeler,Female,47631 Rodriguez Springs,239,Savings Account,18 - 35,Tertiary and above,Permanent,29633,Unstable,10,269684,Rented,2.0
999983,Amber Waller,Female,98679 Ray Stream,28,Savings Account,18 - 35,Tertiary and above,Permanent,5622,Unstable,10,269684,Rented,2.0
999984,Bonnie Johnson,Male,849 Estrada Turnpike Apt. 721,44,Current Account,18 - 35,Tertiary and above,Permanent,29633,Unstable,7,269684,Rented,2.0

In [13]:
myData[myData['Service_Level'] == 1]

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
0,Ashley Payne,Male,1114 Odonnell Camp,Zimbabwean,Current,0,0,1,2,1,1,1,1,1
1,Michelle Clark,Female,23560 Ayala Spring,Zimbabwean,Current,0,0,0,2,1,1,2,1,1
2,Rodney Rich PhD,Male,883 Franco Knolls,Zimbabwean,Savings,2,1,2,2,0,0,0,0,1
4,Angela Tucker,Male,906 White Well Suite 767,Zimbabwean,Savings,1,1,0,2,1,1,0,1,1
7,Alicia Young,Female,177 Michael Stravenue Suite 324,Zimbabwean,Savings,1,1,1,1,1,0,1,1,1
8,William Lara,Male,533 David Roads Suite 026,Zimbabwean,Current,2,1,2,1,1,1,0,0,1
9,Janice Thompson,Female,22745 Watson Causeway Suite 050,Zimbabwean,Current,1,0,1,2,1,0,1,1,1
10,Christopher Bowers,Male,6348 Petersen Pines Apt. 141,Zimbabwean,Savings,0,1,2,1,0,0,2,1,1
13,Keith Harris,Female,81976 Osborn Greens Suite 630,Zimbabwean,Savings,2,1,0,1,1,0,2,1,1
14,Jeffrey Good,Male,46932 Turner Estate,Zimbabwean,Current,2,0,2,0,1,1,1,1,1
15,Kristy Brown,Female,052 Carroll Ramp Apt. 262,Zimbabwean,Savings,2,0,2,1,1,0,1,1,1
16,Jeffrey Johnson,Female,773 Ray Groves,Zimbabwean,Current,2,1,2,1,0,0,1,0,1
17,Charles Garrett,Female,6808 Barron Course Apt. 877,Zimbabwean,Current,2,0,2,0,1,0,1,1,1
21,Daniel Butler,Male,856 Peter Road Apt. 542,Zimbabwean,Savings,2,1,0,0,1,0,2,1,1
22,Shannon Rose,Male,2550 Ashley Estate,Zimbabwean,Savings,2,1,2,1,1,0,1,0,1
23,Kevin Brown,Male,139 Romero Pike Suite 954,Zimbabwean,Current,2,0,0,1,1,0,2,1,1
24,Katrina Cline,Male,407 Walton Walk,Zimbabwean,Current,1,0,0,2,0,1,2,1,1
25,Anne Alexander,Male,3704 Tammy Pike,Zimbabwean,Savings,1,0,1,2,1,0,1,1,1
28,James Long,Female,574 Arthur Canyon Apt. 422,Zimbabwean,Current,2,0,2,1,0,1,1,1,1
32,Matthew Rodriguez,Male,43854 Raymond Locks Suite 956,Zimbabwean,Savings,2,1,0,2,0,0,2,0,1
37,Scott Glover,Male,0302 Smith Common,Zimbabwean,Savings,0,0,2,2,1,1,2,0,1
42,Brandy Khan,Male,50974 Braun Fords Apt. 554,Zimbabwean,Savings,0,0,2,2,0,1,1,1,1
43,Misty Stewart,Male,10294 Santos Underpass,Zimbabwean,Current,2,0,1,0,1,1,2,0,1
45,Katherine Jackson,Female,159 Anna Dale Suite 572,Zimbabwean,Current,2,0,2,2,0,0,0,1,1
49,Dr. John Stephens,Female,7149 James Hollow Suite 817,Zimbabwean,Savings,1,0,2,1,1,1,2,0,1
51,Amber Carpenter,Female,88863 Kramer Station Apt. 457,Zimbabwean,Current,1,1,2,2,0,0,1,1,1
52,Adam Arnold,Female,712 Harding Estate Apt. 011,Zimbabwean,Current,1,1,2,0,1,1,1,0,1
53,Jessica Robertson,Male,31936 Cooper Ferry Suite 513,Zimbabwean,Savings,0,1,1,1,0,1,2,1,1
54,Lisa Ferguson,Male,677 Jennifer Underpass Suite 871,Zimbabwean,Savings,2,1,1,0,1,0,2,0,1
56,Natalie Daniel,Male,179 Peggy Fields,Zimbabwean,Savings,0,1,0,2,1,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9897,Thomas Jackson,Female,71497 Ellis Burgs Suite 625,Zimbabwean,Current,2,1,1,1,0,1,1,1,1
9900,Jamie Merritt,Female,303 James Trace,Zimbabwean,Savings,2,0,1,0,0,1,2,1,1
9903,Roger Roy,Female,8291 Eric Meadows,Zimbabwean,Savings,2,0,1,0,0,1,2,1,1
9905,Christina Patterson,Male,139 Carlos Club,Zimbabwean,Current,1,0,1,1,1,0,2,1,1
9909,Julie Brown,Male,347 Jones Trail Apt. 980,Zimbabwean,Savings,2,0,0,2,0,0,2,1,1
9911,Bethany Tapia,Female,656 Davis Falls,Zimbabwean,Savings,2,1,0,2,0,0,1,1,1
9912,Ricky Ferrell,Male,0552 Cox Lights,Zimbabwean,Current,2,1,2,2,0,0,0,0,1
9921,Michele Perez,Male,662 Cynthia Run Suite 889,Zimbabwean,Current,0,1,2,1,0,0,2,1,1
9933,Helen Phillips,Male,594 Jennifer Fields,Zimbabwean,Current,2,1,2,0,1,1,0,1,1
9935,Christine Wright,Male,5652 Eric Camp,Zimbabwean,Current,1,1,1,2,0,1,2,0,1
9936,Anthony Mills,Female,420 Chavez Shores Suite 618,Zimbabwean,Savings,1,1,1,1,1,1,0,1,1
9947,Kelly Johnson,Female,2059 Chavez Tunnel Suite 047,Zimbabwean,Savings,0,0,2,2,0,1,2,0,1
9953,Cameron Olson,Male,2534 Amy Heights,Zimbabwean,Current,0,0,2,2,0,1,2,1,1
9962,Cynthia Villanueva,Female,704 Moore Radial,Zimbabwean,Current,2,1,2,0,0,1,1,0,1
9963,Alexis Meyers,Male,078 Chavez Flats Suite 263,Zimbabwean,Current,2,0,1,1,0,1,2,1,1
9966,Katherine Chen,Male,9622 Pierce Extensions Apt. 593,Zimbabwean,Savings,1,0,2,2,0,1,1,0,1
9968,Kathy Robinson,Female,3508 Lindsey Mill Apt. 807,Zimbabwean,Savings,1,1,0,0,1,1,2,1,1
9978,Monique Turner,Female,2007 Jonathan Grove,Zimbabwean,Current,2,0,0,2,1,1,0,1,1
9979,Mr. Darren Parsons,Female,77320 Johnson Road Suite 798,Zimbabwean,Current,0,1,2,1,0,1,2,1,1
9980,Christian Watson,Male,02350 Michael Overpass,Zimbabwean,Current,1,0,0,2,1,1,2,0,1
9981,Shannon Williams,Male,45335 Michael Stravenue Apt. 248,Zimbabwean,Savings,1,1,2,1,1,0,2,0,1
9982,Leah Little,Male,05423 Charles Parks Apt. 081,Zimbabwean,Savings,1,0,2,2,0,0,2,0,1
9983,Chad Henderson,Female,571 Rebecca Road Apt. 761,Zimbabwean,Savings,0,1,2,2,1,0,0,1,1
9984,Teresa Rodriguez,Male,09608 Garcia Corners,Zimbabwean,Savings,2,0,2,2,0,1,1,0,1
9989,Frank Jackson,Female,949 Butler Garden Apt. 133,Zimbabwean,Current,0,1,1,2,1,1,1,0,1
9992,Jessica Hudson,Male,6615 Garcia Plains,Zimbabwean,Savings,2,0,1,1,1,0,2,0,1
9995,Jesse Nicholson,Male,19504 Alvarado Harbors Apt. 145,Zimbabwean,Current,0,0,1,2,0,1,2,1,1
9996,James Davis,Male,20320 Corey Club Apt. 010,Zimbabwean,Current,2,1,0,0,1,1,2,0,1
9997,Charles Adams,Male,854 Thomas Lodge Apt. 067,Zimbabwean,Current,0,0,1,2,0,1,2,1,1
9999,Anna Jimenez,Female,78465 Brittany Streets,Zimbabwean,Current,1,0,2,1,1,0,1,1,1

In [14]:
myData[myData['Service_Level'] == 2]

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
11,Elizabeth Houston,Female,03276 Daniel Port Apt. 044,Zimbabwean,Current,2,0,2,1,0,1,2,1,2
31,Steven Murray,Male,4565 Matthew Highway Apt. 643,Zimbabwean,Current,2,0,1,1,1,1,2,1,2
39,William Mccall,Male,05350 Soto Road,Zimbabwean,Savings,0,1,2,2,1,0,2,1,2
46,Janice Mcgee,Male,1552 Leonard Fords,Zimbabwean,Savings,2,1,1,1,1,1,2,0,2
50,Sherry Guerrero,Male,5148 Smith Trafficway,Zimbabwean,Savings,2,1,2,1,1,0,2,0,2
63,Jeffrey Hicks,Female,639 Amanda Views,Zimbabwean,Current,1,1,2,2,0,1,1,1,2
88,Brittany Andrews,Male,849 Fox Mall,Zimbabwean,Current,2,0,1,1,1,1,2,1,2
97,Chelsea Moore,Female,502 Michael Path,Zimbabwean,Current,1,1,1,2,1,1,2,1,2
101,Shannon Lopez,Female,1267 Eric Forges,Zimbabwean,Current,2,0,2,2,1,1,2,0,2
105,Sara Maddox,Female,404 Debra Springs,Zimbabwean,Savings,2,1,2,1,1,1,0,1,2
109,Karen Lin,Female,83761 Patton Vista,Zimbabwean,Savings,2,0,1,2,1,0,2,1,2
117,Nicole Peck,Female,261 John Squares,Zimbabwean,Savings,2,0,2,2,1,1,2,0,2
137,Deborah Park,Female,45095 Mejia Rapid,Zimbabwean,Savings,2,1,0,1,1,1,2,1,2
144,Randy Freeman III,Male,2441 Boyd Trafficway,Zimbabwean,Savings,2,1,1,1,0,1,2,1,2
168,Adam Williamson,Male,52761 Matthew Burgs Suite 010,Zimbabwean,Savings,2,1,2,2,1,0,1,0,2
178,David Hernandez,Female,162 Smith Flat,Zimbabwean,Savings,2,1,1,1,1,1,2,1,2
180,Manuel Serrano,Female,859 Proctor Fall Suite 504,Zimbabwean,Savings,2,1,2,2,0,0,2,1,2
191,Jennifer Stark,Male,61882 Robertson Vista,Zimbabwean,Current,2,1,2,1,1,0,1,1,2
199,Angela Warner,Female,665 Sharon Knolls,Zimbabwean,Current,2,1,1,2,1,1,2,1,2
212,Courtney Miller,Female,9812 Fleming Burg Apt. 930,Zimbabwean,Current,2,1,0,1,1,1,2,1,2
220,Jessica Bowers,Female,6176 Matthew Ville,Zimbabwean,Current,2,1,2,2,1,1,2,1,2
242,Taylor Mcdowell,Female,2204 Nichols Park,Zimbabwean,Savings,2,1,1,0,1,1,2,1,2
252,Vincent Bryant,Male,396 Thomas Port Suite 810,Zimbabwean,Savings,2,1,2,1,1,0,2,0,2
265,Kevin Holland,Female,52189 Lauren Parkways Suite 533,Zimbabwean,Savings,1,0,2,2,1,1,1,1,2
271,Dorothy Chang,Male,0223 Flores View Suite 530,Zimbabwean,Savings,2,1,1,2,1,1,1,0,2
273,Jessica Walton,Male,24198 Nicholas Mills,Zimbabwean,Current,2,1,0,2,1,1,2,1,2
294,Randy Martinez,Male,57143 Moyer Islands Suite 736,Zimbabwean,Current,2,0,1,2,1,1,1,1,2
301,Deanna Fitzpatrick,Female,0247 Jennings Keys,Zimbabwean,Savings,2,1,2,1,0,1,1,1,2
312,Catherine Butler,Female,7558 Anna Stravenue Apt. 629,Zimbabwean,Current,2,0,2,2,1,0,2,0,2
319,Robert Wall,Male,37967 Micheal Stravenue,Zimbabwean,Current,2,1,2,2,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9707,Brian Johnson,Female,1079 Teresa Divide Suite 208,Zimbabwean,Current,2,0,0,2,1,1,2,1,2
9709,Cynthia Arellano,Female,3030 Jackson Squares,Zimbabwean,Current,2,1,2,1,0,0,2,1,2
9715,Samuel Galloway,Female,92126 Michelle Islands Suite 336,Zimbabwean,Current,1,1,1,2,1,0,2,1,2
9735,Tracy Alvarado,Male,9420 Maurice Brook,Zimbabwean,Current,2,1,2,2,1,1,2,0,2
9736,Mrs. Wendy Garcia PhD,Female,4279 Dominique Villages,Zimbabwean,Savings,1,1,2,1,1,0,2,1,2
9753,Jeremy Austin,Male,77427 Melinda Ports,Zimbabwean,Savings,2,0,1,2,1,1,1,1,2
9762,Carlos Jones,Female,0015 Rachel Brooks,Zimbabwean,Current,2,1,1,2,1,1,2,0,2
9775,Mrs. Jenna Willis,Male,3021 Long Center,Zimbabwean,Savings,1,1,1,2,1,1,2,1,2
9796,Julie Allen,Female,97571 Figueroa Flats Suite 370,Zimbabwean,Savings,2,1,2,2,1,1,0,0,2
9812,Diane Hernandez,Female,259 Robinson Port,Zimbabwean,Current,2,1,1,2,0,1,2,0,2
9815,Benjamin Howell,Male,75758 Cindy Avenue,Zimbabwean,Savings,1,0,2,2,1,0,2,1,2
9819,Kerri Stark,Female,9485 Stephen Club Apt. 499,Zimbabwean,Current,2,0,2,2,0,1,2,1,2
9825,Travis Williams,Female,7444 Mary Grove Suite 091,Zimbabwean,Savings,2,1,2,2,1,0,0,1,2
9831,Mrs. Angela Russell DVM,Male,9306 Jamie Underpass,Zimbabwean,Savings,2,1,0,2,1,1,1,1,2
9838,Edward Galvan,Male,24411 Torres Crest Apt. 364,Zimbabwean,Savings,2,1,2,1,1,0,1,1,2
9840,Kelly Hudson,Male,75780 Olivia Plaza Suite 470,Zimbabwean,Current,2,0,2,1,1,1,2,0,2
9869,Timothy Cox,Male,0974 Drake Road Apt. 820,Zimbabwean,Current,2,1,2,0,1,0,2,1,2
9874,Seth Lowe,Female,061 Carter Dale,Zimbabwean,Savings,2,0,2,2,1,1,0,1,2
9877,Mallory Brown,Male,95636 Alison Avenue Apt. 082,Zimbabwean,Current,2,1,2,0,1,1,2,1,2
9881,Craig Adams,Female,3984 House Lodge,Zimbabwean,Current,2,1,0,2,1,1,2,1,2
9893,Robert Ruiz,Male,4439 Morgan Pike Suite 914,Zimbabwean,Current,0,1,2,2,1,1,1,1,2
9907,Dennis Hughes,Female,21811 Ryan Skyway,Zimbabwean,Savings,1,1,1,1,1,1,2,1,2
9914,Matthew Wolfe,Male,0899 Lopez Hill,Zimbabwean,Savings,1,1,0,2,1,1,2,1,2
9915,James Stuart,Male,0301 Rhonda Crossroad Apt. 125,Zimbabwean,Savings,2,1,2,2,0,0,1,1,2
9917,Taylor Turner,Male,8505 Crane Mountains,Zimbabwean,Current,2,1,1,1,1,1,2,1,2
9927,Mandy Bailey,Female,31927 Levi Circle,Zimbabwean,Current,2,1,2,2,0,1,1,1,2
9944,Samuel Brooks,Male,4677 Adams Row Apt. 397,Zimbabwean,Current,2,0,1,2,1,1,1,1,2
9955,April Zimmerman,Female,7659 Scott Passage,Zimbabwean,Current,2,1,2,2,1,1,1,1,2
9975,Tanya Hayes,Female,0264 Wells Parks Apt. 468,Zimbabwean,Current,2,1,1,2,0,1,1,1,2
9976,Mandy Contreras,Female,7291 Sullivan Bridge Suite 267,Zimbabwean,Current,2,0,2,1,1,1,2,1,2

In [31]:
#myData.to_csv('../datasets/testData.csv')