In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import numpy as np
import csv
import random

from faker import Faker
from time import time

In [3]:
fake = Faker()

In [4]:
# changing column data with faker

accounts_list = ['Savings Account', 'Current Account']
sex_list = ['Male', 'Female']
#nationality = ['Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'South Africa', 'Botswana', 'Nigeria', 'Mozambique', 'United Kingdom', 'United States', 'China', 'India']
nationality = [239, 239, 239, 239, 239, 239, 193, 28, 156, 145, 222, 223, 44, 99]
# names_list = [fake.name_female(), fake.name_male()]

# Data Generator function
 
def fake_data():
    return{'Name': fake.name(), 
           'Gender': random.choice(sex_list),
           'Address': fake.street_address(), 
           'Nationality': random.choice(nationality), 
           'Account_Type': random.choice(accounts_list), 
           'Age': random.randint(0, 2), 
           'Education': random.randint(0, 1), 
           'Employment': random.randint(0, 2),
           'Salary': random.randint(0, 2),
           'Employer_Stability': random.randint(0, 1),
           'Customer_Loyalty': random.randint(0, 10),
           'Balance': random.randint(0, 2),
           'Residential_Status': random.randint(0, 1)
          }

t0 = time()

myData = pd.DataFrame([fake_data() for _ in range(100000)], columns = ['Name', 'Gender', 'Address', 'Nationality', 'Account_Type', 'Age','Education', 'Employment', 'Salary', 'Employer_Stability', 'Customer_Loyalty', 'Balance', 'Residential_Status'])
myData.index.names = ['Customer_ID']

tt = time() - t0


print '100 thousand rows of data generated in {} seconds'.format(round(tt, 3))



#myData.to_csv('../datasets/dummyTrain.csv')

10 thousand rows of data generated in 316.944 seconds

In [5]:
myData.count()

Name                  100000
Gender                100000
Address               100000
Nationality           100000
Account_Type          100000
Age                   100000
Education             100000
Employment            100000
Salary                100000
Employer_Stability    100000
Customer_Loyalty      100000
Balance               100000
Residential_Status    100000
dtype: int64

In [6]:
myData.head()

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status
Customer_ID,,,,,,,,,,,,,
0,Andrea Clark,Female,594 Drew Parkways,223,Current Account,0,0,2,2,1,7,2,0
1,Zachary Garcia,Male,80027 Jonathan Rue,145,Current Account,1,1,2,0,0,3,1,1
2,Michael Barber,Male,4895 Charlotte Extensions Suite 858,99,Current Account,2,1,2,0,0,3,2,0
3,Bernard Cook,Male,3023 Jenna Course Suite 989,156,Current Account,1,1,1,1,1,9,2,1
4,Jonathan Smith,Male,1464 Contreras Orchard,239,Current Account,1,0,0,2,0,5,0,0

In [8]:
# # Generate classes 'Service_Levels' for the customers using the following criteria,

# # Number of features = '8', Total_Weight of features = '12', Number of classes = '3',

# # Conditions: 
# #    Class 0 (Silver) = weight(0 - 6),
# #    Class 1 (Gold) = weight(7 - 8)
# #    Class 2 (Platinum) = weight(9 - 12)


myData['Service_Level'] = np.where(((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) <= 6), 0.0,
                               (np.where((((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) > 6) & ((myData['Age'])+(myData['Education'])+(myData['Employment'])+(myData['Salary'])+(myData['Employer_Stability'])+(myData['Customer_Loyalty'])+(myData['Balance'])+(myData['Residential_Status']) <= 8)), 1.0, 2.0)))

In [9]:
# convert the engineered values into real customer details

#myData['Service_Level'] = np.where((myData['Service_Level'] == 0), 'Silver', (np.where((myData['Service_Level'] == 1), 'Gold', 'Platinum')))

myData['Employment'] = np.where((myData['Employment']== 0), 'Student', (np.where((myData['Employment'] == 1), 'Contract', 'Permanent')))

myData['Education'] = np.where((myData['Education']== 0), 'Highschool and below',  'Tertiary and above')

myData['Employer_Stability'] = np.where((myData['Employer_Stability']== 0), 'Not Stable',  'Stable')

myData['Residential_Status'] = np.where((myData['Residential_Status'] == 0), 'Rented',  'Owned')

#myData['Customer_Loyalty'] = np.where((myData['Customer_Loyalty'] == 0), '0 - 2 years',  '3 - 10 years')

myData['Age'] = np.where((myData['Age']== 0), '60 +', (np.where((myData['Age'] == 1), '36 - 59', '18 - 35')))

# myData['Gender'] = np.where((myData['Gender'] == 'Male'), 0,  1)

# myData['Account_Type'] = np.where((myData['Account_Type'] == 'Current'), 0,  1)

myData['Salary'] = np.where((myData['Salary']== 0), np.random.randint(150, 1001), (np.where((myData['Salary'] == 1), np.random.randint(1001, 10001), np.random.randint(10001, 100000))))

myData['Balance'] = np.where((myData['Balance']== 0), np.random.randint(20, 2501), (np.where((myData['Balance'] == 1), np.random.randint(2501, 10001), np.random.randint(10001, 500000))))

# np.where(('condition1'<= 6), 0, (np.where(('condition2' > 6), 1, 2)))

In [10]:
myData.head()

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
0,Andrea Clark,Female,594 Drew Parkways,223,Current Account,60 +,Highschool and below,Permanent,57311,Stable,7,123003,Rented,2.0
1,Zachary Garcia,Male,80027 Jonathan Rue,145,Current Account,36 - 59,Tertiary and above,Permanent,597,Not Stable,3,9443,Owned,2.0
2,Michael Barber,Male,4895 Charlotte Extensions Suite 858,99,Current Account,18 - 35,Tertiary and above,Permanent,597,Not Stable,3,123003,Rented,2.0
3,Bernard Cook,Male,3023 Jenna Course Suite 989,156,Current Account,36 - 59,Tertiary and above,Contract,6525,Stable,9,123003,Owned,2.0
4,Jonathan Smith,Male,1464 Contreras Orchard,239,Current Account,36 - 59,Highschool and below,Student,57311,Not Stable,5,1350,Rented,1.0

In [12]:
myData[myData['Service_Level'] == 0]

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
3,Janet Hernandez,Male,2440 Strickland Park,Zimbabwean,Savings,0,1,1,1,0,1,0,1,0
5,Jeffrey Hanson,Male,93135 Gardner Wells,Zimbabwean,Current,0,1,0,1,1,1,0,0,0
6,Ashley Brooks,Male,4795 Samantha Curve,Zimbabwean,Savings,2,0,1,2,0,0,0,1,0
12,Mary Bryant,Male,503 Gould Valley,Zimbabwean,Savings,0,0,1,0,1,0,2,0,0
18,Emily Holmes,Female,02375 Castaneda Gardens Apt. 811,Zimbabwean,Current,0,0,2,2,1,0,1,0,0
19,Michael Rich,Male,3120 Jackson Gardens Suite 546,Zimbabwean,Current,0,1,0,2,0,1,1,0,0
20,Alan Burns,Male,07744 Sharp Junction,Zimbabwean,Current,0,0,0,2,0,1,0,0,0
26,Benjamin Sullivan,Male,8186 Sheila Wall,Zimbabwean,Current,2,0,2,1,0,1,0,0,0
27,Laura Perry,Female,8761 Matthew Ports,Zimbabwean,Savings,0,0,2,0,1,1,1,1,0
29,Jody Lee PhD,Male,83404 Johnston Well,Zimbabwean,Current,2,0,0,1,1,0,1,0,0
30,Mary Spencer,Female,9446 Reeves Harbor Suite 342,Zimbabwean,Savings,1,0,1,1,1,1,0,1,0
33,Deanna Rogers,Male,13959 Craig Drives Suite 917,Zimbabwean,Savings,2,0,0,1,1,1,0,0,0
34,Emily Williams DDS,Male,703 Thomas Crest,Zimbabwean,Savings,0,0,1,1,0,0,0,1,0
35,Matthew Gillespie,Female,75573 Joshua Motorway,Zimbabwean,Savings,2,0,0,0,0,0,0,1,0
36,Cristina Daniel,Female,521 Kimberly Trail,Zimbabwean,Savings,0,1,1,0,1,1,2,0,0
38,Andrea Arellano,Female,9866 Leah Crest,Zimbabwean,Current,0,1,2,0,1,0,0,0,0
40,Rebecca Berg,Female,66655 Bradley Trail,Zimbabwean,Current,1,0,1,1,0,1,2,0,0
41,Julia Novak,Male,10990 Joe Lake,Zimbabwean,Current,2,0,0,0,0,1,1,0,0
44,Catherine Hayes,Male,629 Hicks Glen,Zimbabwean,Savings,2,1,0,0,0,1,1,1,0
47,Patricia Burns,Male,788 Richard Union,Zimbabwean,Current,0,0,0,1,1,1,2,1,0
48,Kelli Sloan,Male,9171 Tran Keys,Zimbabwean,Savings,1,1,2,0,0,0,1,0,0
55,Melinda Johnston,Female,90196 Madison Crossroad,Zimbabwean,Savings,2,0,2,0,0,0,1,0,0
57,Kristin Smith,Female,47846 Guzman Corners Suite 908,Zimbabwean,Current,2,0,0,0,1,0,1,0,0
58,Sean Colon,Female,5875 Anderson Park Apt. 717,Zimbabwean,Current,1,1,0,2,0,1,1,0,0
59,Gary Cook,Female,664 Charles Stream,Zimbabwean,Current,1,0,1,1,0,1,0,1,0
60,Melissa Arnold,Female,2609 Joseph Knoll,Zimbabwean,Savings,2,0,0,1,1,1,1,0,0
61,Alan Larson,Male,8865 Dean Junction Apt. 831,Zimbabwean,Savings,1,1,2,0,0,0,1,0,0
62,Anne Lloyd,Male,7336 David Drive Apt. 850,Zimbabwean,Savings,0,1,1,0,0,1,0,1,0
65,Karen Jones,Male,71392 Danielle Trace Suite 627,Zimbabwean,Savings,0,0,2,1,0,0,1,0,0
66,Brandon Morgan,Male,1154 Brown Meadows,Zimbabwean,Current,2,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9949,Mrs. Jessica Castillo,Female,7855 Deborah Grove Suite 651,Zimbabwean,Current,0,0,2,0,1,1,2,0,0
9950,Nicholas Hess,Female,74616 Hudson Dam Suite 211,Zimbabwean,Current,0,1,2,0,0,0,0,0,0
9951,Judy Haynes,Male,984 Erin Forge Suite 535,Zimbabwean,Current,2,0,0,1,1,1,0,0,0
9952,Richard Johnson,Male,4711 Steven Way Suite 271,Zimbabwean,Current,1,0,1,2,0,0,2,0,0
9954,Mark Gonzalez,Male,9374 Flores Burg,Zimbabwean,Current,0,1,0,0,0,0,2,1,0
9956,Monica Ellis MD,Female,253 Nicole Lock Suite 391,Zimbabwean,Current,0,1,1,0,1,0,2,1,0
9957,Madison Valdez,Female,86768 Benson Forge Apt. 648,Zimbabwean,Current,1,1,2,0,0,1,1,0,0
9958,Brian Reyes,Female,742 Richard Cliff,Zimbabwean,Savings,1,1,0,0,0,0,1,1,0
9959,Lauren Calderon,Female,82413 Bailey Highway,Zimbabwean,Savings,0,0,1,1,0,0,1,0,0
9960,Dawn Mooney,Male,588 Williams Street,Zimbabwean,Savings,0,0,1,2,1,0,2,0,0
9961,John Rice,Female,16111 Derrick Vista Suite 074,Zimbabwean,Savings,2,1,2,0,0,0,1,0,0
9964,Robert Ward,Female,8547 Collins Islands,Zimbabwean,Savings,2,0,0,0,1,1,0,1,0
9965,Kayla Benton,Female,76862 Ingram Tunnel Suite 019,Zimbabwean,Savings,0,1,0,1,0,1,2,1,0
9967,Gabriella Rivera,Female,931 Ronald Heights Apt. 588,Zimbabwean,Current,1,0,2,0,1,0,1,0,0
9969,Sarah Gallegos,Male,5461 Jennifer Plain,Zimbabwean,Current,0,1,0,0,0,1,0,1,0
9970,Jeffrey Reynolds,Male,10288 Ashley Valleys Suite 505,Zimbabwean,Current,0,1,1,2,0,0,1,1,0
9971,Nancy Bennett,Female,565 Snyder Village Apt. 079,Zimbabwean,Savings,0,1,2,0,0,1,2,0,0
9972,Evan Jacobs,Male,1009 Ryan Overpass,Zimbabwean,Savings,0,1,2,0,0,0,1,1,0
9973,Bryan Robinson,Female,660 Abigail Corners,Zimbabwean,Current,1,0,1,1,0,1,1,1,0
9974,John Howard,Male,9344 Patricia Fields Suite 180,Zimbabwean,Savings,0,0,0,1,1,1,0,1,0
9977,Jorge Hoffman,Male,3766 Collins Brook Apt. 737,Zimbabwean,Current,0,1,1,1,0,1,0,1,0
9985,Taylor Davenport,Female,2752 Hannah Pine Suite 093,Zimbabwean,Current,2,1,2,0,1,0,0,0,0
9986,Heather Cook,Female,083 Martinez Stravenue Apt. 326,Zimbabwean,Current,2,1,2,0,0,0,0,0,0
9987,Christine Chapman,Male,89381 Green Pass Apt. 729,Zimbabwean,Current,0,0,1,0,1,1,1,0,0
9988,Peter Evans,Female,358 Johnson River Apt. 748,Zimbabwean,Savings,0,0,1,2,0,1,1,0,0
9990,Megan Buckley,Female,4811 Robbins Park,Zimbabwean,Current,0,1,1,0,1,1,1,1,0
9991,Connie Roberts,Female,008 Woods Summit Suite 260,Zimbabwean,Savings,2,0,1,2,0,1,0,0,0
9993,Tiffany Flores,Male,11811 Kevin Pass,Zimbabwean,Current,2,0,2,0,0,0,1,0,0
9994,Cynthia Mcpherson,Male,94163 Herman Spurs,Zimbabwean,Savings,0,0,1,0,0,1,1,1,0
9998,Jeffery Pruitt,Male,9696 Kimberly Springs,Zimbabwean,Savings,1,0,1,2,0,0,0,0,0

In [13]:
myData[myData['Service_Level'] == 1]

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
0,Ashley Payne,Male,1114 Odonnell Camp,Zimbabwean,Current,0,0,1,2,1,1,1,1,1
1,Michelle Clark,Female,23560 Ayala Spring,Zimbabwean,Current,0,0,0,2,1,1,2,1,1
2,Rodney Rich PhD,Male,883 Franco Knolls,Zimbabwean,Savings,2,1,2,2,0,0,0,0,1
4,Angela Tucker,Male,906 White Well Suite 767,Zimbabwean,Savings,1,1,0,2,1,1,0,1,1
7,Alicia Young,Female,177 Michael Stravenue Suite 324,Zimbabwean,Savings,1,1,1,1,1,0,1,1,1
8,William Lara,Male,533 David Roads Suite 026,Zimbabwean,Current,2,1,2,1,1,1,0,0,1
9,Janice Thompson,Female,22745 Watson Causeway Suite 050,Zimbabwean,Current,1,0,1,2,1,0,1,1,1
10,Christopher Bowers,Male,6348 Petersen Pines Apt. 141,Zimbabwean,Savings,0,1,2,1,0,0,2,1,1
13,Keith Harris,Female,81976 Osborn Greens Suite 630,Zimbabwean,Savings,2,1,0,1,1,0,2,1,1
14,Jeffrey Good,Male,46932 Turner Estate,Zimbabwean,Current,2,0,2,0,1,1,1,1,1
15,Kristy Brown,Female,052 Carroll Ramp Apt. 262,Zimbabwean,Savings,2,0,2,1,1,0,1,1,1
16,Jeffrey Johnson,Female,773 Ray Groves,Zimbabwean,Current,2,1,2,1,0,0,1,0,1
17,Charles Garrett,Female,6808 Barron Course Apt. 877,Zimbabwean,Current,2,0,2,0,1,0,1,1,1
21,Daniel Butler,Male,856 Peter Road Apt. 542,Zimbabwean,Savings,2,1,0,0,1,0,2,1,1
22,Shannon Rose,Male,2550 Ashley Estate,Zimbabwean,Savings,2,1,2,1,1,0,1,0,1
23,Kevin Brown,Male,139 Romero Pike Suite 954,Zimbabwean,Current,2,0,0,1,1,0,2,1,1
24,Katrina Cline,Male,407 Walton Walk,Zimbabwean,Current,1,0,0,2,0,1,2,1,1
25,Anne Alexander,Male,3704 Tammy Pike,Zimbabwean,Savings,1,0,1,2,1,0,1,1,1
28,James Long,Female,574 Arthur Canyon Apt. 422,Zimbabwean,Current,2,0,2,1,0,1,1,1,1
32,Matthew Rodriguez,Male,43854 Raymond Locks Suite 956,Zimbabwean,Savings,2,1,0,2,0,0,2,0,1
37,Scott Glover,Male,0302 Smith Common,Zimbabwean,Savings,0,0,2,2,1,1,2,0,1
42,Brandy Khan,Male,50974 Braun Fords Apt. 554,Zimbabwean,Savings,0,0,2,2,0,1,1,1,1
43,Misty Stewart,Male,10294 Santos Underpass,Zimbabwean,Current,2,0,1,0,1,1,2,0,1
45,Katherine Jackson,Female,159 Anna Dale Suite 572,Zimbabwean,Current,2,0,2,2,0,0,0,1,1
49,Dr. John Stephens,Female,7149 James Hollow Suite 817,Zimbabwean,Savings,1,0,2,1,1,1,2,0,1
51,Amber Carpenter,Female,88863 Kramer Station Apt. 457,Zimbabwean,Current,1,1,2,2,0,0,1,1,1
52,Adam Arnold,Female,712 Harding Estate Apt. 011,Zimbabwean,Current,1,1,2,0,1,1,1,0,1
53,Jessica Robertson,Male,31936 Cooper Ferry Suite 513,Zimbabwean,Savings,0,1,1,1,0,1,2,1,1
54,Lisa Ferguson,Male,677 Jennifer Underpass Suite 871,Zimbabwean,Savings,2,1,1,0,1,0,2,0,1
56,Natalie Daniel,Male,179 Peggy Fields,Zimbabwean,Savings,0,1,0,2,1,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9897,Thomas Jackson,Female,71497 Ellis Burgs Suite 625,Zimbabwean,Current,2,1,1,1,0,1,1,1,1
9900,Jamie Merritt,Female,303 James Trace,Zimbabwean,Savings,2,0,1,0,0,1,2,1,1
9903,Roger Roy,Female,8291 Eric Meadows,Zimbabwean,Savings,2,0,1,0,0,1,2,1,1
9905,Christina Patterson,Male,139 Carlos Club,Zimbabwean,Current,1,0,1,1,1,0,2,1,1
9909,Julie Brown,Male,347 Jones Trail Apt. 980,Zimbabwean,Savings,2,0,0,2,0,0,2,1,1
9911,Bethany Tapia,Female,656 Davis Falls,Zimbabwean,Savings,2,1,0,2,0,0,1,1,1
9912,Ricky Ferrell,Male,0552 Cox Lights,Zimbabwean,Current,2,1,2,2,0,0,0,0,1
9921,Michele Perez,Male,662 Cynthia Run Suite 889,Zimbabwean,Current,0,1,2,1,0,0,2,1,1
9933,Helen Phillips,Male,594 Jennifer Fields,Zimbabwean,Current,2,1,2,0,1,1,0,1,1
9935,Christine Wright,Male,5652 Eric Camp,Zimbabwean,Current,1,1,1,2,0,1,2,0,1
9936,Anthony Mills,Female,420 Chavez Shores Suite 618,Zimbabwean,Savings,1,1,1,1,1,1,0,1,1
9947,Kelly Johnson,Female,2059 Chavez Tunnel Suite 047,Zimbabwean,Savings,0,0,2,2,0,1,2,0,1
9953,Cameron Olson,Male,2534 Amy Heights,Zimbabwean,Current,0,0,2,2,0,1,2,1,1
9962,Cynthia Villanueva,Female,704 Moore Radial,Zimbabwean,Current,2,1,2,0,0,1,1,0,1
9963,Alexis Meyers,Male,078 Chavez Flats Suite 263,Zimbabwean,Current,2,0,1,1,0,1,2,1,1
9966,Katherine Chen,Male,9622 Pierce Extensions Apt. 593,Zimbabwean,Savings,1,0,2,2,0,1,1,0,1
9968,Kathy Robinson,Female,3508 Lindsey Mill Apt. 807,Zimbabwean,Savings,1,1,0,0,1,1,2,1,1
9978,Monique Turner,Female,2007 Jonathan Grove,Zimbabwean,Current,2,0,0,2,1,1,0,1,1
9979,Mr. Darren Parsons,Female,77320 Johnson Road Suite 798,Zimbabwean,Current,0,1,2,1,0,1,2,1,1
9980,Christian Watson,Male,02350 Michael Overpass,Zimbabwean,Current,1,0,0,2,1,1,2,0,1
9981,Shannon Williams,Male,45335 Michael Stravenue Apt. 248,Zimbabwean,Savings,1,1,2,1,1,0,2,0,1
9982,Leah Little,Male,05423 Charles Parks Apt. 081,Zimbabwean,Savings,1,0,2,2,0,0,2,0,1
9983,Chad Henderson,Female,571 Rebecca Road Apt. 761,Zimbabwean,Savings,0,1,2,2,1,0,0,1,1
9984,Teresa Rodriguez,Male,09608 Garcia Corners,Zimbabwean,Savings,2,0,2,2,0,1,1,0,1
9989,Frank Jackson,Female,949 Butler Garden Apt. 133,Zimbabwean,Current,0,1,1,2,1,1,1,0,1
9992,Jessica Hudson,Male,6615 Garcia Plains,Zimbabwean,Savings,2,0,1,1,1,0,2,0,1
9995,Jesse Nicholson,Male,19504 Alvarado Harbors Apt. 145,Zimbabwean,Current,0,0,1,2,0,1,2,1,1
9996,James Davis,Male,20320 Corey Club Apt. 010,Zimbabwean,Current,2,1,0,0,1,1,2,0,1
9997,Charles Adams,Male,854 Thomas Lodge Apt. 067,Zimbabwean,Current,0,0,1,2,0,1,2,1,1
9999,Anna Jimenez,Female,78465 Brittany Streets,Zimbabwean,Current,1,0,2,1,1,0,1,1,1

In [14]:
myData[myData['Service_Level'] == 2]

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Customer_Loyalty,Balance,Residential_Status,Service_Level
Customer_ID,,,,,,,,,,,,,,
11,Elizabeth Houston,Female,03276 Daniel Port Apt. 044,Zimbabwean,Current,2,0,2,1,0,1,2,1,2
31,Steven Murray,Male,4565 Matthew Highway Apt. 643,Zimbabwean,Current,2,0,1,1,1,1,2,1,2
39,William Mccall,Male,05350 Soto Road,Zimbabwean,Savings,0,1,2,2,1,0,2,1,2
46,Janice Mcgee,Male,1552 Leonard Fords,Zimbabwean,Savings,2,1,1,1,1,1,2,0,2
50,Sherry Guerrero,Male,5148 Smith Trafficway,Zimbabwean,Savings,2,1,2,1,1,0,2,0,2
63,Jeffrey Hicks,Female,639 Amanda Views,Zimbabwean,Current,1,1,2,2,0,1,1,1,2
88,Brittany Andrews,Male,849 Fox Mall,Zimbabwean,Current,2,0,1,1,1,1,2,1,2
97,Chelsea Moore,Female,502 Michael Path,Zimbabwean,Current,1,1,1,2,1,1,2,1,2
101,Shannon Lopez,Female,1267 Eric Forges,Zimbabwean,Current,2,0,2,2,1,1,2,0,2
105,Sara Maddox,Female,404 Debra Springs,Zimbabwean,Savings,2,1,2,1,1,1,0,1,2
109,Karen Lin,Female,83761 Patton Vista,Zimbabwean,Savings,2,0,1,2,1,0,2,1,2
117,Nicole Peck,Female,261 John Squares,Zimbabwean,Savings,2,0,2,2,1,1,2,0,2
137,Deborah Park,Female,45095 Mejia Rapid,Zimbabwean,Savings,2,1,0,1,1,1,2,1,2
144,Randy Freeman III,Male,2441 Boyd Trafficway,Zimbabwean,Savings,2,1,1,1,0,1,2,1,2
168,Adam Williamson,Male,52761 Matthew Burgs Suite 010,Zimbabwean,Savings,2,1,2,2,1,0,1,0,2
178,David Hernandez,Female,162 Smith Flat,Zimbabwean,Savings,2,1,1,1,1,1,2,1,2
180,Manuel Serrano,Female,859 Proctor Fall Suite 504,Zimbabwean,Savings,2,1,2,2,0,0,2,1,2
191,Jennifer Stark,Male,61882 Robertson Vista,Zimbabwean,Current,2,1,2,1,1,0,1,1,2
199,Angela Warner,Female,665 Sharon Knolls,Zimbabwean,Current,2,1,1,2,1,1,2,1,2
212,Courtney Miller,Female,9812 Fleming Burg Apt. 930,Zimbabwean,Current,2,1,0,1,1,1,2,1,2
220,Jessica Bowers,Female,6176 Matthew Ville,Zimbabwean,Current,2,1,2,2,1,1,2,1,2
242,Taylor Mcdowell,Female,2204 Nichols Park,Zimbabwean,Savings,2,1,1,0,1,1,2,1,2
252,Vincent Bryant,Male,396 Thomas Port Suite 810,Zimbabwean,Savings,2,1,2,1,1,0,2,0,2
265,Kevin Holland,Female,52189 Lauren Parkways Suite 533,Zimbabwean,Savings,1,0,2,2,1,1,1,1,2
271,Dorothy Chang,Male,0223 Flores View Suite 530,Zimbabwean,Savings,2,1,1,2,1,1,1,0,2
273,Jessica Walton,Male,24198 Nicholas Mills,Zimbabwean,Current,2,1,0,2,1,1,2,1,2
294,Randy Martinez,Male,57143 Moyer Islands Suite 736,Zimbabwean,Current,2,0,1,2,1,1,1,1,2
301,Deanna Fitzpatrick,Female,0247 Jennings Keys,Zimbabwean,Savings,2,1,2,1,0,1,1,1,2
312,Catherine Butler,Female,7558 Anna Stravenue Apt. 629,Zimbabwean,Current,2,0,2,2,1,0,2,0,2
319,Robert Wall,Male,37967 Micheal Stravenue,Zimbabwean,Current,2,1,2,2,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9707,Brian Johnson,Female,1079 Teresa Divide Suite 208,Zimbabwean,Current,2,0,0,2,1,1,2,1,2
9709,Cynthia Arellano,Female,3030 Jackson Squares,Zimbabwean,Current,2,1,2,1,0,0,2,1,2
9715,Samuel Galloway,Female,92126 Michelle Islands Suite 336,Zimbabwean,Current,1,1,1,2,1,0,2,1,2
9735,Tracy Alvarado,Male,9420 Maurice Brook,Zimbabwean,Current,2,1,2,2,1,1,2,0,2
9736,Mrs. Wendy Garcia PhD,Female,4279 Dominique Villages,Zimbabwean,Savings,1,1,2,1,1,0,2,1,2
9753,Jeremy Austin,Male,77427 Melinda Ports,Zimbabwean,Savings,2,0,1,2,1,1,1,1,2
9762,Carlos Jones,Female,0015 Rachel Brooks,Zimbabwean,Current,2,1,1,2,1,1,2,0,2
9775,Mrs. Jenna Willis,Male,3021 Long Center,Zimbabwean,Savings,1,1,1,2,1,1,2,1,2
9796,Julie Allen,Female,97571 Figueroa Flats Suite 370,Zimbabwean,Savings,2,1,2,2,1,1,0,0,2
9812,Diane Hernandez,Female,259 Robinson Port,Zimbabwean,Current,2,1,1,2,0,1,2,0,2
9815,Benjamin Howell,Male,75758 Cindy Avenue,Zimbabwean,Savings,1,0,2,2,1,0,2,1,2
9819,Kerri Stark,Female,9485 Stephen Club Apt. 499,Zimbabwean,Current,2,0,2,2,0,1,2,1,2
9825,Travis Williams,Female,7444 Mary Grove Suite 091,Zimbabwean,Savings,2,1,2,2,1,0,0,1,2
9831,Mrs. Angela Russell DVM,Male,9306 Jamie Underpass,Zimbabwean,Savings,2,1,0,2,1,1,1,1,2
9838,Edward Galvan,Male,24411 Torres Crest Apt. 364,Zimbabwean,Savings,2,1,2,1,1,0,1,1,2
9840,Kelly Hudson,Male,75780 Olivia Plaza Suite 470,Zimbabwean,Current,2,0,2,1,1,1,2,0,2
9869,Timothy Cox,Male,0974 Drake Road Apt. 820,Zimbabwean,Current,2,1,2,0,1,0,2,1,2
9874,Seth Lowe,Female,061 Carter Dale,Zimbabwean,Savings,2,0,2,2,1,1,0,1,2
9877,Mallory Brown,Male,95636 Alison Avenue Apt. 082,Zimbabwean,Current,2,1,2,0,1,1,2,1,2
9881,Craig Adams,Female,3984 House Lodge,Zimbabwean,Current,2,1,0,2,1,1,2,1,2
9893,Robert Ruiz,Male,4439 Morgan Pike Suite 914,Zimbabwean,Current,0,1,2,2,1,1,1,1,2
9907,Dennis Hughes,Female,21811 Ryan Skyway,Zimbabwean,Savings,1,1,1,1,1,1,2,1,2
9914,Matthew Wolfe,Male,0899 Lopez Hill,Zimbabwean,Savings,1,1,0,2,1,1,2,1,2
9915,James Stuart,Male,0301 Rhonda Crossroad Apt. 125,Zimbabwean,Savings,2,1,2,2,0,0,1,1,2
9917,Taylor Turner,Male,8505 Crane Mountains,Zimbabwean,Current,2,1,1,1,1,1,2,1,2
9927,Mandy Bailey,Female,31927 Levi Circle,Zimbabwean,Current,2,1,2,2,0,1,1,1,2
9944,Samuel Brooks,Male,4677 Adams Row Apt. 397,Zimbabwean,Current,2,0,1,2,1,1,1,1,2
9955,April Zimmerman,Female,7659 Scott Passage,Zimbabwean,Current,2,1,2,2,1,1,1,1,2
9975,Tanya Hayes,Female,0264 Wells Parks Apt. 468,Zimbabwean,Current,2,1,1,2,0,1,1,1,2
9976,Mandy Contreras,Female,7291 Sullivan Bridge Suite 267,Zimbabwean,Current,2,0,2,1,1,1,2,1,2

In [11]:
#myData.to_csv('../datasets/dummyTrain.csv')