In [7]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName('Customer-Classifier') \
    .getOrCreate()

In [18]:
# Creating a dataframe from csv file

train_df = spark.read.csv('../datasets/dummy.csv', header='true', inferSchema='true')

In [10]:
train_df.show()

+-----------+-------------------+------+--------------------+-----------+------------+---+---------+----------+------+------------------+-----------+-------+------------------+-------------+
|Customer_ID|               Name|Gender|             Address|Nationality|Account_Type|Age|Education|Employment|Salary|Employer_Stability|Consistency|Balance|Residential_Status|Service_Level|
+-----------+-------------------+------+--------------------+-----------+------------+---+---------+----------+------+------------------+-----------+-------+------------------+-------------+
|          0|  Michelle Anderson|  Male|630 Andrea Island...| Zimbabwean|     Savings|  1|    false|         2|     0|              true|      false|      2|              true|            1|
|          1|         Mary Owens|Female|  0854 Vasquez River| Zimbabwean|     Current|  2|     true|         0|     1|             false|      false|      1|             false|            1|
|          2|        Anna Cooper|  Male|8443 Rodriguez Ma...| Zimbabwean|     Savings|  2|    false|         2|     1|              true|       true|      0|              true|            1|
|          3|         Paul Davis|  Male|     380 Franco Isle| Zimbabwean|     Savings|  0|     true|         2|     0|             false|       true|      2|             false|            1|
|          4|       Sergio Clark|Female|   605 White Gateway| Zimbabwean|     Current|  2|     true|         2|     1|              true|      false|      0|              true|            1|
|          5|          Eric Rose|Female| 0378 Jackson Avenue| Zimbabwean|     Savings|  2|     true|         2|     0|             false|       true|      2|             false|            1|
|          6|   Christopher Hill|Female|574 Burke Road Ap...| Zimbabwean|     Current|  2|    false|         1|     1|             false|      false|      2|              true|            1|
|          7|        Mary Porter|Female|  29601 Travis Trail| Zimbabwean|     Savings|  0|    false|         1|     1|              true|       true|      0|             false|            1|
|          8|  Stephanie Pacheco|  Male|  9593 Chapman Trail| Zimbabwean|     Current|  1|    false|         2|     2|              true|       true|      2|             false|            1|
|          9|  Stephanie Brennan|  Male|0240 William Isla...| Zimbabwean|     Savings|  1|    false|         1|     1|              true|       true|      1|             false|            1|
|         10|    Wyatt Rodriguez|Female|47436 Rodriguez F...| Zimbabwean|     Current|  2|    false|         0|     0|             false|      false|      1|              true|            1|
|         11|      Taylor Haynes|Female|49568 Thomas Squares| Zimbabwean|     Current|  1|     true|         1|     1|              true|       true|      2|             false|            1|
|         12| Christopher Briggs|  Male|  14528 Sarah Cliffs| Zimbabwean|     Current|  1|     true|         0|     1|              true|      false|      2|             false|            1|
|         13|     Amber Ferguson|Female| 6824 Williams Court| Zimbabwean|     Current|  2|     true|         0|     2|              true|       true|      0|              true|            1|
|         14|        Carl Wilson|Female|3686 Steven Court...| Zimbabwean|     Savings|  1|    false|         2|     1|              true|       true|      1|             false|            1|
|         15|       Terry Clarke|  Male|65851 Kelly Vista...| Zimbabwean|     Savings|  0|    false|         0|     0|              true|      false|      1|              true|            1|
|         16|  Terrance Mckinney|  Male|276 Davis Village...| Zimbabwean|     Savings|  1|    false|         0|     1|              true|       true|      2|              true|            1|
|         17|     Sharon Douglas|Female|9692 Kristopher D...| Zimbabwean|     Savings|  0|    false|         0|     0|             false|       true|      1|              true|            1|
|         18|Mrs. Charlene Mccoy|Female| 19889 Debra Village| Zimbabwean|     Current|  0|     true|         0|     2|              true|      false|      0|              true|            1|
|         19|        David Adams|  Male|0431 Thomas Light...| Zimbabwean|     Savings|  2|     true|         0|     0|              true|      false|      1|              true|            1|
+-----------+-------------------+------+--------------------+-----------+------------+---+---------+----------+------+------------------+-----------+-------+------------------+-------------+
only showing top 20 rows

In [19]:
train_df.printSchema()

root
 |-- Customer_ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Account_Type: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Education: boolean (nullable = true)
 |-- Employment: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Employer_Stability: boolean (nullable = true)
 |-- Consistency: boolean (nullable = true)
 |-- Balance: integer (nullable = true)
 |-- Residential_Status: boolean (nullable = true)
 |-- Service_Level: integer (nullable = true)

In [20]:
train_df.select('Name').show()

+-------------------+
|               Name|
+-------------------+
|  Michelle Anderson|
|         Mary Owens|
|        Anna Cooper|
|         Paul Davis|
|       Sergio Clark|
|          Eric Rose|
|   Christopher Hill|
|        Mary Porter|
|  Stephanie Pacheco|
|  Stephanie Brennan|
|    Wyatt Rodriguez|
|      Taylor Haynes|
| Christopher Briggs|
|     Amber Ferguson|
|        Carl Wilson|
|       Terry Clarke|
|  Terrance Mckinney|
|     Sharon Douglas|
|Mrs. Charlene Mccoy|
|        David Adams|
+-------------------+
only showing top 20 rows

In [26]:
from pyspark.ml.feature import VectorAssembler

ignore = ['Customer_ID','Name', 'Gender', 'Address', 'Nationality', 'Account_Type', 'Service_Level']
lista = [x for x in train_df.columns if x not in ignore]

assembler = VectorAssembler(
    inputCols=lista,
    outputCol='features')

train_df = (assembler.transform(train_df).select('Name', 'Gender', 'Address', 'Nationality', 'Account_Type', "features"))

IllegalArgumentException: u'Data type StringType is not supported.'

In [23]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Loading the data

data = spark.read.format('csv').load('../datasets/dummy.csv')


# splitting the data
splits = data.randomSplit([1.0])
train_df = splits[0]


# 8 input layers(features), 9 and 8 hidden layers and 3 output classes

layers = [8, 9, 8, 3]


# trainer with parameters

trainer = MultilayerPerceptronClassifier(maxIter=100, layers=layers, blockSize=128)


# training the model
model = trainer.fit(train_df)

IllegalArgumentException: u'Field "features" does not exist.'