In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
from faker import Faker
from random import random
from sklearn.datasets import make_classification

import pandas as pd
import numpy as np
import csv
import random

In [3]:
fake = Faker()

In [12]:
# changing column data with faker

accounts_list = ['Savings', 'Current']
sex_list = ['Male', 'Female']
# names_list = [fake.name_female(), fake.name_male()]

# Fake Data Generator function
 
def fake_data():
    return{'Name': fake.name(), 
           'Gender': random.choice(sex_list),
           'Address': fake.street_address(), 
           'Nationality': 'Zimbabwean', 
           'Account_Type': random.choice(accounts_list), 
           'Age': random.randint(0, 2), 
           'Education': random.random() > 0.5, 
           'Employment': random.randint(0, 2),
           'Salary': random.randint(0, 2),
           'Employer_Stability': random.random() > 0.5,
           'Consistency': random.random() > 0.5,
           'Balance': random.randint(0, 2),
           'Residential_Status': random.random() > 0.5
          }


df = pd.DataFrame([fake_data() for _ in range(100000)], columns = ['Name', 'Gender', 'Address', 'Nationality', 'Account_Type', 'Age','Education', 'Employment', 'Salary', 'Employer_Stability', 'Consistency', 'Balance', 'Residential_Status'])
df.index.names = ['Customer_ID']
df.head()

,Name,Gender,Address,Nationality,Account_Type,Age,Education,Employment,Salary,Employer_Stability,Consistency,Balance,Residential_Status
Customer_ID,,,,,,,,,,,,,
0,Mr. Keith Burgess,Female,15643 John Park Apt. 940,Zimbabwean,Current,1,True,1,0,True,True,0,False
1,Kayla Martinez,Male,951 Acevedo Green Suite 068,Zimbabwean,Savings,0,True,1,0,False,True,0,True
2,James Osborne,Female,1216 Tricia Shores Suite 779,Zimbabwean,Savings,2,True,0,2,False,True,2,True
3,Sherri Williams,Male,56198 Jacob Harbors,Zimbabwean,Current,1,True,1,1,True,False,2,True
4,Dr. Tracey Hardy,Male,0841 Brandon Branch,Zimbabwean,Savings,2,True,0,1,True,False,0,True

In [13]:
# print the DataFrame to CSV file
# df.write.csv('mycsv.csv')
df.to_csv('train_data.csv')
df.dtypes

Name                  object
Gender                object
Address               object
Nationality           object
Account_Type          object
Age                    int64
Education               bool
Employment             int64
Salary                 int64
Employer_Stability      bool
Consistency             bool
Balance                int64
Residential_Status      bool
dtype: object